body {
  overflow: hidden;
}

.form-horizontal {
  overflow: hidden;
}

.section h2 {
  margin-top: 0;
}

.fl-widget-provider {
  width: 100%;
  border: none;
}

.section h2 small {
  color: #14505e;
}

#manage-data {
  width: 100%;
  margin-top: 10px;
}

#query-form {
  height: 0;
  opacity: 0;
  overflow: hidden;
  margin-bottom: 0;
  -webkit-transition: all 0.25s ease-out;
  -moz-transition: all 0.325s ease-out;
  -o-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
  -webkit-transform: translate(0, -10px);
  -moz-transform: translate(0, -10px);
  -o-transform: translate(0, -10px);
  transform: translate(0, -10px);
}

#screen-form.show-query #query-form {
  display: block;
  opacity: 1;
  overflow: auto;
  height: auto;
  margin-bottom: 15px;
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}

.full-width {
  width: 100%;
}

.bootstrap-tagsinput {
  width: 100%;
}

[v-cloak] {
  display: none;
}

.grey-icon-button {
  background-color: #aaa;
}

.blue-icon-button {
  background-color: #00abd1;
}

.grey-icon-button,
.blue-icon-button {
  color: white;
  padding: 0.4rem 0.6rem;
  cursor: pointer;
}

.filters-toggle {
  padding-top: 7px;
}

.filter {
  margin-bottom: 10px;
}

.filter > .form-group {
  margin-bottom: 0;
}

.filter .col-sm-8 {
  border-left: 1px solid #aaa;
}

.centered-modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(242,246,247, 0.9);
  z-index: 2;
}

.height-30 {
  height: 30px;
}
