<div class="container-fluid">
  <form id="app" v-cloak class="form-horizontal">
    <div v-if="isLoading" class="spinner-holder animated">
      <div class="spinner-overlay">Loading...</div>
    </div>
    <template v-else>
      <div class="form-group">
        <div class="col-sm-4 control-label">
          <label>{{settings.dataSourceLabel}}</label>
        </div>
        <div class="col-sm-8">
          <label class="select-proxy-display">
            <select data-label="select" class="hidden-select form-control" v-model="selectedDataSource"
                    :disabled="!dataSources">
              <option value="none">-- \{{ dataSources ? 'Select a data source' : 'Please wait' }}</option>
              <option disabled>------</option>
              <option value="new">Create a new data source</option>
              <option disabled>------</option>
              <option :value="dataSource" v-for="dataSource in dataSources">\{{dataSource.name}}</option>
            </select>
            <span class="icon fa fa-chevron-down"></span>
            <span class="select-value-proxy">
              <template v-if="dataSources">
                <template v-if="selectedDataSource">\{{selectedDataSource.name}}</template>
                <template v-else>-- Select a data source</template>
              </template>
              <template v-else>-- Please wait</template>
            </span>
          </label>
          <!--<small v-if="manageDataBtn"><a href="#" v-on:click.prevent="manageDataSource(selectedDataSource.id)">Edit data source</a></small>-->
        </div>
      </div>

      <div class="form-group" v-if="showModesSelector">
        <div class="col-sm-4 control-label">
          <label>{{settings.modesDescription}}</label>
        </div>
        <div class="col-sm-8">
          <div v-for="(mode, index) in modes" class="radio radio-icon">
            <input v-model="selectedModeIdx" :id="'mode-' + index" type="radio" :value="index">
            <label :for="'mode-' + index">
              <span class="check"><i class="fa fa-circle"></i></span> \{{ mode.label }}
            </label>
          </div>
        </div>
      </div>

      <div v-for="field in selectedMode.columns" class="form-group">
        <div class="col-sm-4 control-label">
          <label>\{{field.label}}</label>
        </div>
        <div class="col-sm-8">
          <label class="select-proxy-display" v-if="field.type === 'single'">
            <select v-if="selectedDataSource && selectedDataSource.columns && selectedDataSource.columns.length"
                    data-label="select" class="hidden-select form-control" v-model="selectedColumns[field.key]"
                    v-on:change="updateSelectedColumns(field.key, $event.target.value)">
              <option :value="undefined">-- Select a column</option>
              <option :value="column" v-for="column in selectedDataSource.columns">
                \{{column}}
              </option>
            </select>
            <select v-if="!selectedDataSource || !selectedDataSource.columns || !selectedDataSource.columns.length"
                    data-label="select" class="hidden-select form-control" disabled="disabled">
              <option>\{{columnWarning}}</option>
            </select>
            <span class="icon fa fa-chevron-down"></span>
            <span class="select-value-proxy">
              <template v-if="selectedDataSource && selectedDataSource.columns && selectedDataSource.columns.length">
                <template v-if="selectedColumns[field.key]">\{{selectedColumns[field.key]}}</template>
                <template v-else>-- Select a column</template>
              </template>
              <template v-else>\{{columnWarning}}</template>
            </span>
          </label>
          <label class="full-width" v-if="field.type === 'multiple'">
            <span v-if="selectedDataSource && selectedDataSource.columns && selectedDataSource.columns.length">
              <tagsinput :tagsinput-data="typeaheadData" :field="field" :init-arr="selectedColumns[field.key]"
                         :update-selected-columns="updateSelectedColumns"></tagsinput>
            </span>
            <input v-if="!selectedDataSource || !selectedDataSource.columns || !selectedDataSource.columns.length"
                   class="form-control height-30" type="text" disabled="disabled" :value="columnWarning"/>
          </label>
        </div>
      </div>

      <div class="form-group hidden" v-if="selectedMode.filters">
        <div class="col-sm-8 col-sm-offset-4">
          <div class="checkbox checkbox-icon pull-left">
            <input type="checkbox" id="apply-filter" v-model="applyFilters"
                   :disabled="!selectedDataSource || !selectedDataSource.columns || !selectedDataSource.columns.length"/>
            <label for="apply-filter">
              <span class="check">
                <i class="fa fa-check"></i>
              </span>
              Apply filter
            </label>
          </div>
          <div class="pull-right">
            <a v-if="showFilters" class="filters-toggle" href="#" v-on:click.prevent="toggleFilters(false)"><i class="fa fa-chevron-up"></i> Hide filters​</a>
            <a v-if="!showFilters && filters.length && dataSources" class="filters-toggle" href="#"
                  v-on:click.prevent="toggleFilters(true)"><i class="fa fa-chevron-down"></i> Show filters​</a>
          </div>
        </div>
      </div>

      <div class="filter" v-for="(filter, index) in filters" v-if="showFilters">
        <div class="form-group">
          <div class="col-sm-8 col-sm-offset-4">
            <label class="select-proxy-display">
              <select data-label="select" class="hidden-select form-control" v-model="filter.column">
                <option :value="column" v-for="column in selectedDataSource.columns">\{{column}}</option>
              </select>
              <span class="icon fa fa-chevron-down"></span>
              <span class="select-value-proxy"></span>
            </label>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-8 col-sm-push-4">
            <label class="select-proxy-display">
              <select data-label="select" class="hidden-select form-control" v-model="filter.operator">
                <option :value="operator" v-for="operator in operators">\{{operator}}</option>
              </select>
              <span class="icon fa fa-chevron-down"></span>
              <span class="select-value-proxy"></span>
            </label>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-8 col-sm-push-4">
            <input type="text" class="form-control" v-model="filter.value"/>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-8 col-sm-push-4">
            <div class="checkbox checkbox-icon">
              <input type="checkbox" :id="'ignore-case-' + index" v-model="filter.ignoreCase"/>
              <label :for="'ignore-case-' + index">
                <span class="check">
                  <i class="fa fa-check"></i>
                </span>
                Ignore case
              </label>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-8 col-sm-push-4">
            <p>
              <span class="icon fa fa-minus grey-icon-button pull-left" v-on:click="filters.splice(index, 1)"></span>
              <span v-if="index === (filters.length - 1)" class="icon fa fa-plus blue-icon-button pull-right"
                   v-on:click="addDefaultFilter"></span>
            </p>
          </div>
        </div>
      </div>

      <div class="centered-modal" v-if="loadingError">
        <div>
          <div>Error retrieving data configuration.</div>
          <br/>
          <div class="text-center">
            <span class="btn btn-primary" v-on:click="getDataSources()">Try again</span>
          </div>
        </div>
      </div>
    </template>
  </form>
</div>
